.search_container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: .5rem;

    div {
      display: flex;
      gap: .5rem;

      .input_search {
        flex: 1;
      }
    }
  }
}

.movies_list {
  padding-bottom: 2rem;
}